.nav {
  background-color: yellow;
}

.nav-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.links {
  float: left;
}

.icons {
  float: right;
}

.nav-link,
.nav-icons {
  display: block;
  text-decoration: none;
  padding: 10px;
}

.section {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 350px;
}

.section1 {
  text-align: center;
}

.heading1 {
  text-align: "center";
  font-size: 80px;
  color: yellow;
  margin: 0;
  padding-top: 5px;
}

.sub-section {
  width: 80%;
  margin: auto;
}

.heading2 {
  color: yellow;
}
